# SPARSE MATRIX (I, J, V), DROPZEROS!(X)

In [45]:
I = [1,2,4,5]
J = [3,5,6,8]
V = [10,40,60,0]

B = sparse(I,J,V)
@show B
dropzeros!(B) # Removes stored numerical zeros from B
@show B

A = sparse([1, 1, 2], [1, 3, 1], [1, 2, -5])

B =
	[1, 3]  =  10
	[2, 5]  =  40
	[4, 6]  =  60
	[5, 8]  =  0
B =
	[1, 3]  =  10
	[2, 5]  =  40
	[4, 6]  =  60

2×3 sparse matrix with 3 Int64 nonzero entries:
	[1, 1]  =  1
	[2, 1]  =  -5
	[1, 3]  =  2

In [33]:
dropzeros!(A)

2×3 sparse matrix with 3 Int64 nonzero entries:
	[1, 1]  =  1
	[2, 1]  =  -5
	[1, 3]  =  2

# vcat
Concatenate along the vertical direction

In [7]:
a = [1 2 3 4 5]
b = [6 7 8 9 10; 11 12 13 14 15]
vcat(a,b) #conconcate along the vertical direction

3×5 Array{Int64,2}:
  1   2   3   4   5
  6   7   8   9  10
 11  12  13  14  15

In [18]:
c = ([1 2 3], [4 5 6])
vcat(c...)

2×3 Array{Int64,2}:
 1  2  3
 4  5  6

In [19]:
c = ([1 2 3], [4 5 6])
d=([1 3 4])
vcat(c...,d)

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 1  3  4

# hcat
Concatenate along the horizontal direction

In [20]:
a = [1; 2; 3; 4; 5]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [21]:
b = [6 7; 8 9; 10 11; 12 13; 14 15]

5×2 Array{Int64,2}:
  6   7
  8   9
 10  11
 12  13
 14  15

In [22]:
hcat(a,b)

5×3 Array{Int64,2}:
 1   6   7
 2   8   9
 3  10  11
 4  12  13
 5  14  15

In [23]:
 c = ([1; 2; 3], [4; 5; 6])

([1,2,3],[4,5,6])

In [24]:
 hcat(c...)

3×2 Array{Int64,2}:
 1  4
 2  5
 3  6

# hvcat
Horizontal and vertical concatenation in one cal

In [25]:
 a, b, c, d, e, f = 1, 2, 3, 4, 5, 6

(1,2,3,4,5,6)

In [26]:
[a b c; d e f]

2×3 Array{Int64,2}:
 1  2  3
 4  5  6

In [27]:
hvcat((3,3), a,b,c,d,e,f)

2×3 Array{Int64,2}:
 1  2  3
 4  5  6

In [28]:
[a b;c d; e f]

3×2 Array{Int64,2}:
 1  2
 3  4
 5  6

In [31]:
 hvcat((2,2,2), a,b,c,d,e,f)

3×2 Array{Int64,2}:
 1  2
 3  4
 5  6